.profile-username {
   font-weight: bold;
}
.contact-container {
    padding: 10px;
    display: grid;
    width: 400px;
    grid-template-columns: 40px 70px 300px;
    grid-template-rows: min-content min-content min-content min-content;
    border-collapse: collapse;
}
.carousel-indicators li {
    background-color: black !important;
}
.carousel-control-next span, .carousel-control-prev span {
    background-color: black !important;
}
.carousel {
    flex-basis: 50%;
}
@media only screen and (max-width: 800px) {
    #carousel-responsive {
        flex-basis: 100%;
    }
}
@media only screen and (min-width: 800px) {
    #carousel-responsive {
        flex-basis: 50%;
    }
}