.one-question-container {
    background-color: var(--color3);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 5px;
}
.question-title {
    font-size: x-large;
    font-weight: bold;
}
.upvotes-icon {
    height: 50px;
    width: 50px;
}
.keyword-pill {
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}
.keyword-pill:hover {
    text-decoration: none;
    transform: scale(1.1);
}