.one-question-container {
    background-color: var(--color3);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 5px;
}
.question-title {
    font-size: x-large;
    font-weight: bold;
    width: 80%;
}
.upvotes-icon {
    height: 20px;
    width: 30px;
}
.keyword-pill {
    background-color: lightgrey !important;
    padding: 5px !important;
    margin: 5px !important;
    border-radius: 8px !important;
    border: none !important;
}
.keyword-pill:hover {
    text-decoration: none;
    transform: scale(1.1);
}