.upvotes-icon-small {
    height: 30px;
    width: 30px;
}
.answers-container {
    padding: 15px;
    border: none !important;
    background-color: var(--color3) !important;
}
.one-answer-container {
    margin-bottom: 5px;
}