.bordered-input {
    background-color: white;
    border-radius: 7px;
    border: 1px solid grey;
    width: 90%;
    min-width: 200px;
}
.question-specs-title {
    font-weight: bold;
    margin-bottom: 0 !important;
}
.question-specs-explanation {
    margin-bottom: 5px;
}

#suggestions-box {
    border: 1px solid grey;
    max-height: 200px;
    overflow-y: scroll;
    width: 250px;
}

.remove-button {
    font-size: 13px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    height: min-content;
    width: min-content;
    padding: 1px 7px;
    margin-left: -12px;
}