@media only screen and (max-width: 900px) {
    .answers-container {
        width: 100% !important;
    }
}
@media only screen and (min-width: 900px) {
    .answers-container {
        width: 900px !important;
    }
}
.upvotes-icon-small {
    height: 30px;
    width: 30px;
}
.answers-container {
    border: none !important;
    background-color: var(--color3) !important;
}
.one-answer-container {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    width: 100% !important;
}