@media only screen and (max-width: 500px) {
    .card-image {
        height: 250px !important;
        max-width: 500px;
    }
    .card-width {
        height: 250px;
        width: 500px;
    }
}
@media only screen and (min-width: 500px) {
    .card-image {
        height: 230px;
        max-width: 500px;
    }
    .card-width {
        height: 230px;
        width: 330px;
    }
}
.card-image {
    margin-left: auto;
    margin-right: auto;
}
.card-title {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
}
.card-text {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-left: 0%;
}
.card-image {
    opacity: 50%;
}