/*------- general css ---------*/
html, body {
    position: relative !important;
    min-height: 100vh !important;
    --color2: rgb(255, 244, 223);
    background-color: var(--color2) !important;
}
#root {
    --colorNav: rgb(245, 212, 151);
    --color3: rgba(237, 219, 166, 0.653);
}
.blur {
    background: inherit;
    box-shadow: 0 8px 32px 0 var(--colorback);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

@media only screen and (max-width: 500px) {
    .main-title-container {
        width: 100%;
        margin-left: 0;
    }
    .main-page {
        margin: 0px;
    }
    .container-width {
        width: 100%;
    }    
}

@media only screen and (min-width: 500px) {
    .main-title-container {
        width: 70%;
        margin-left: 15%;
    }
    .main-page {
        margin: 0px 10px;
    }
    .container-width {
        width: 90%;
        margin-left: 5%;
    }      
}

hr {
    margin: 5px;
}

/*--------- quick margins-paddings ----------*/
.center-content {
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.margin {
    margin: 20px;
}
.margin-top {
    margin-top: 30px;
}
.margin-top-small {
    margin-top: 20px;
}
.margin-top-smaller {
    margin-top: 10px;
}
.margin-right {
    margin-right: 40px !important;
}
.margin-left {
    margin-left: 5px !important;
}    
.margin-right-small {
    margin-right: 20px !important;
}
.padding-bottom {
    padding-bottom: 10px;
}
.center-text {
    text-align: center;
}
.padding {
    padding: 10px 20px;
}

/*-------- messages categories -------*/
.error-message {
    color: rgb(255, 112, 112) !important;
}
.success-message {
    color: green !important;
}

/*-------- flex ------------ */
.flex-item {
    flex-grow: 1;
    height: min-content;
    min-width: 300px !important;
}
.flex-item-big {
    flex-grow: 1;
    height: min-content;
    width: 400px !important;
}
.flex-item-small {
    flex-grow: 1;
    height: min-content;
    width: 100px !important;
}
.flex-item-smaller {
    flex-grow: 1;
    height: min-content;
    width: 50px !important;
}
.flex-item-expand {
    flex-basis: 100%;
    height: min-content;
}
.flex-layout {
    display: flex;
    flex-flow: row wrap;
}
.break {
    flex-basis: 100%;
    height: 0;
}

/*-------- button-as-link -------*/
.button-as-link {
    background-color: inherit;
    padding: 2px;
    border: none;
    width: 100%;
    text-align: left;
}
.button-as-link:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color2);
}

/*--- textarea ----*/
textarea {
    border: 1px solid;
    border-radius: 6px;
}
textarea:focus {
    outline: none;
}
.with-whitespace {
    white-space: pre-wrap;
    position: relative; 
}
.break-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
.break-lines {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* title */
.main-title-container {
    color: rgb(63, 63, 63);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
    background-color: var(--color3);
}